<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    {% block header_title %}
    <title>{{ page_title }}</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light"
       >
      <a class="navbar-brand" href="{{ url_base }}index.html">Library</a>
      <button type="button" class="navbar-toggler navbar-toggler-right"
              data-toggle="collapse" data-target="#top_navbar"
              aria-controls="top_navbar" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top_navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_base }}all.html">
              All books
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" 
               id="bookshelvesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Bookshelves
            </a>
            <div class="dropdown-menu" aria-labelledby="bookshelvesDropdown">
              {% for bookshelf in bookshelves %}
              <a class="dropdown-item"
                 href="{{ url_base }}{{ bookshelf }}.html">
                {{ bookshelf }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" 
               id="aboutDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu dropdown-menu-right"
                 aria-labelledby="aboutDropdown">
              <button class="dropdown-item">Source: {{ source }}</a>
              <button class="dropdown-item">Total: {{ total_books }} books</a>
            </div>
          </li>
          <li
      </div>
    </nav>

    <div class="container">
      {% block container %}
      <div class="row">
        <div class="col-md">
          <h1 class="py-3">{{ page_title }}</h1>
          {% block content %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

  </body>
</html>
